---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Bernardo",
  country: "Spain",
  occupation: "Programmer",
  hobbies: ["videogame development", "video editing"],
};

const skills = ["Web development", "Project management", "Node", "React", "Tailwind"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
	.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<p>
		Cuando vi por primera vez un trozo de HTML y lo que pintaba en pantalla, me fue imposible saciar mi curiosidad. Después fueron JavaScript y C++. La sensación de resolver incluso los problemas más sencillos era indescriptible. Desde ese momento, he pasado por muchas tecnologías y diferentes lenguajes de programación.
	</p>

	<p>
		Una de las cosas que más me satisface es aprender, así que a eso me dediqué de forma autodidacta durante años mientras hacía realidad varios proyectos personales y de terceros. Finalmente, me matriculé en el Grado Superior de Desarrollo de Aplicaciones Web para validar y poner a prueba mis conocimientos. Las prácticas me ayudaron a acceder al mercado laboral y desde entonces, no he dejado de trabajar.
	</p>

	<p>
		Además del desarrollo web y de software en general, estoy interesado en la producción audiovisual, el diseño gráfico y en todas las partes de la creación de videojuegos. En estos momentos, estoy profundizando en Unreal Engine y tecnologías de desarrollo web como Astro y Svelte, a la vez que las combino con plataformas de despliegue modernas como Vercel, Netlify y otras.
	</p>

	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>
			I live in {identity.country} and I work as a {identity.occupation}.
		</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Two of my hobbies are: {identity.hobbies[0]} and{" "}
					{identity.hobbies[1]}
				</li>
			)
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
