---
import { fade } from "astro:transitions";
import BaseLayout from './BaseLayout.astro';
import Tags from '@components/Tags.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
	<p>{frontmatter.pubDate.toString().slice(0,10)}</p>
	<!--<p transition:animate={fade({ duration: '2s' })}><em>{frontmatter.description}</em></p>-->
	<p><em>{frontmatter.description}</em></p>
	<!--<p>Written by: <a href="/about/">{frontmatter.author}</a></p>-->
	<p><img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /></p>
	<Tags tags={frontmatter.tags} />
	<slot />
</BaseLayout>
